.bottom-container{
  background:#dcdbdb57;
  display:flex;
 }


 .bottom-container .box-inner:nth-child(1){
  padding:50px 50px 20px 50px;
 }

 .bottom-container .box-inner.thumb{
   width:500px;
   min-width:400px;
   background-size:cover;
 }

 .bottom-heading{
    font-size:28px;
    margin-bottom:20px;
 }

 .bottom-text{
    font-size:18px;
    margin-bottom:30px;
 }


 .bottom-links{
     display:flex;
 }

 .bottom-links .link{
       margin:10px 10px 20px 0px;
       color:#3376CD;
 }

 .bottom-links .link:after{
     line-height:10px;
   content: " >"
 }
